$modalica-max-width:960px;
$modalica-background:#EAEAEA;
$modalica-text-color:#444;
$close-btn-background:#dd3e4e;
$close-btn-background-hover:#ff8f00;
$transition-background:all ease .2s;
$transition-content:all ease .3s; 