@import "compass";

@import "modalica_settings";


body, html { 
  // -ms-overflow-style: none !important; 
}
.modalica-modal {
	@include box-sizing(border-box);
	* { @include box-sizing(border-box); }

	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: fixed;
	overflow: auto;
	z-index: 100;
	@include transition($transition-content);
	@include transform(translateX(-100%));

	&.active { @include transform(translateX(0%)); }

	.modalica--wrapper {
		max-width: $modalica-max-width;
		margin: 2em auto;
		padding: 1.5em;
		position: relative;

		.modalica--wrapper-bg {
			font-family: Arial, Helvetica, sans-serif;
			color: $modalica-text-color !important;
			position: relative;
		}
	}

	.modalica--close {
		width: 40px;
		height: 40px;
		cursor: pointer;
		background-color: $close-btn-background;
		text-align: center;
		display: inline-block;
		font-size: 30px;
		line-height: 42px;
		font-family: Arial, Helvetica, sans-serif;
		color: #FFF;
		border-radius: 50px;
		margin-bottom: 2em;
		position: relative;
		z-index: 10;
		@include transition(all ease .3s);

		&:hover {
			background-color: $close-btn-background-hover;
		}

		&:hover:after {
			opacity: 1;
		}

		&:after {
			@include transition($transition-background);
			position: absolute;
			opacity: 0;
			left: -1px;
			top: -1px;
			content: "Fermer";
			font-size: .5em;
			padding-left: 3em;
			padding-right: 1em;
			border-radius: 60px;
			z-index: -10;
			background-color: lighten($close-btn-background-hover, 10);
		}
	}
 
	.modalica--content {
		display: block !important;

		img, embed { max-width: 100%; height: auto; }
	}
}
.modalica--content {display: none; }



body:after {
	content: "";
	background-color: $modalica-background;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	@include transform(translateX(-100%));
	@include transition($transition-background);
}
body.modalica-active { overflow:hidden; }
body.modalica-active:after { @include transform(translateY(0%)); }